<div class="text-center"><h1>Creación de Estudiante</h1></div>
        <form [formGroup]="formulario" class="col-md-6 offset-md-3 border p-5" (ngSubmit)="crearUsuario()">
            <div class="form-group">
                <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" formControlName="apellido" placeholder="Apellido" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" formControlName="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Contraseña" class="form-control">
            </div>
            <div class="form-group">
                <input type="number" formControlName="telefono" placeholder="Telefóno" class="form-control">
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book1" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 1</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book2" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 2</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book3" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 3</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="bookA1" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book A1</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book4" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 4</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book5" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 5</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book6" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 6</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="bookA2" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book A2</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book7" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 7</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book8" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 8</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="book9" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book 9</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="bookB1" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Book B1</label>
                </div>
              </div>
            </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Crear Estudiante</button>
        </div>
        </form>