<div  *ngIf="usuario | async; else jumbotron" class="container">
    <div class="row">
        <div class="col-md-6">
            <table mat-table [dataSource]="estudiantesTabla" style="width: 100%;">
                <ng-container matColumnDef="nombre_completo">
                    <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
                    <td (click)="traerData(estudiante.email, estudiante.nombre, estudiante.apellido, id)" style="cursor: pointer;" mat-cell *matCellDef="let estudiante">{{estudiante.nombre +' '+ estudiante.apellido}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Correo Eléctronico</th>
                    <td (click)="traerData(estudiante.email, estudiante.nombre, estudiante.apellido, id)" style="cursor: pointer;" mat-cell *matCellDef="let estudiante">{{estudiante.email}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="estudiantesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: estudiantesColumns;"></tr>
            </table>
        </div>
        <div class="col-md-6">
            <table mat-table [dataSource]="booksTabla" style="width: 100%;">
                <ng-container matColumnDef="books">
                    <th mat-header-cell *matHeaderCellDef>Books</th>
                    <td *matCellDef="let books">
                        <div class="contenedor-books">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check separar-books">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" name="book1" [(ngModel)]="books.data.book1">
                                          Book1
                                        </label>
                                      </div>
                                      <div class="form-check separar-books">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="book2" [(ngModel)]="books.data.book2">
                                            Book2
                                          </label>
                                        </div>
                                        <div class="form-check separar-books">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="book3" [(ngModel)]="books.data.book3">
                                            Book3
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="bookA1" [(ngModel)]="books.data.bookA1">
                                            BookA1
                                          </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check separar-books">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" name="book4" [(ngModel)]="books.data.book4">
                                          Book4
                                        </label>
                                      </div>
                                      <div class="form-check separar-books">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="book5" [(ngModel)]="books.data.book5">
                                            Book5
                                          </label>
                                        </div>
                                        <div class="form-check separar-books">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="book6" [(ngModel)]="books.data.book6">
                                            Book6
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="bookA2" [(ngModel)]="books.data.bookA2">
                                            BookA2
                                          </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check separar-books">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" name="book7" [(ngModel)]="books.data.book7">
                                          Book7
                                        </label>
                                      </div>
                                      <div class="form-check separar-books">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="book8" [(ngModel)]="books.data.book8">
                                            Book8
                                          </label>
                                        </div>
                                        <div class="form-check separar-books">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="book9" [(ngModel)]="books.data.book9">
                                            Book9
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="bookB1" [(ngModel)]="books.data.bookB1">
                                            BookB1
                                          </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Teléfono:</label>
                                        <input type="number" [(ngModel)]="books.data.telefono" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Cédula:</label>
                                        <input type="number" [(ngModel)]="books.data.password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Nombre:</label>
                                        <input type="text" [(ngModel)]="books.nombre" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Apellido:</label>
                                        <input type="text" [(ngModel)]="books.apellido" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" (click)="enviarData(books.data, books.nombre, books.apellido)" class="btn btn-primary btn-block mt-3 mb-3">Guardar</button>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <p>¿Ha olvidado su contraseña?<a (click)="restablecer(books.data.email)" class="btn btn-link">Click aquí </a>para restablecerla.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="booksColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: booksColumns"></tr>
            </table>  
        </div>
    </div>
</div>
<ng-template #jumbotron>
    <app-jumbotron></app-jumbotron>
</ng-template>
